*{
	margin: 0;
	padding: 0;
}
body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
h3{
	margin-bottom: 4px;
}
.instructions{
	z-index: 100000;
	background-color: #ded6ce;
	display: block;
	position: absolute;
	padding: 16px;
}